<div class="login-form padding20 block-shadow">
  <form name="loginForm" ng-submit="auth.submit()" novalidate data-role="validator">
    <h1 class="text-light">HealthPlatform.io</h1>
    <hr class="thin"/>
    <br/>
    <div class="input-control text full-size" data-role="input">
      <label for="email">Email:</label>
      <input type="text" data-validate-func="email" placeholder="email"
             name="email" id="email"
             ng-model="auth.credentials.email" required
             data-validate-hint="Not valid email address" style="padding-right: 5px;">
      <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br/>
    <br/>
    <div class="input-control password full-size" data-role="input">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"
             ng-model="auth.credentials.password" required>
      <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br/>
    <br/>
    <div class="form-actions">
      <button type="submit" class="button" ng-class="{'primary': loginForm.$valid}"
              ng-disabled="loginForm.$invalid || loginForm.$pristine">
        Login
      </button>
      <button type="button" class="button link" ng-click="auth.demo()">Demo</button>
    </div>
  </form>
</div>
